<body>
  <mat-list >
    <mat-list-item
    (click)="openlink(data.story_url, data.url)"
    *ngFor="let data of newsdata; index as i"
    class="newslist"
    (mouseover) ="focusTrashcan(i)"
    (mouseout) = "unfocusTrashcan(i)"
    >
    <div id="title">{{ data.story_title || data.title}}
      <a id="author">&nbsp;-&nbsp; {{ data.author }} &nbsp;-&nbsp;</a>
    </div>
        <div id="date">{{ displayDate(data.created_at) }} </div>
      <button (click)='deleteNews(data.objectID)' class="trash-button">
        <img src="/assets/images/Garbage_Bin.png" alt="Delete" width="30px" height="30px">
      </button>

    </mat-list-item
    >
  </mat-list>
</body>






<!-- (click)="openlink(data.story_url, data.url)"
(click)='deleteNews(data.objectID)'
<div style="color:gray; float: right;">{{ displayDate(data.created_at) }} </div>
      <div style="color:gray; float: right;">&nbsp;-&nbsp; {{ data.author }} &nbsp;-&nbsp;</div> -->
